@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-color: #b9fbf1;
  font-family: "Poppins", sans-serif;
  background-image: url(/public/background.png);
  background-repeat: repeat;
  background-size: contain;
}

.link-overlay {
  position: absolute;
  background-color: #083344;
  height: 100%;
  width: 100%;
  margin-top: 15px;
  left: 8px;
  border-radius: 15px;
  z-index: -10;
}

.timer-bar {
  position: absolute;
  height: 10px;
  top: 0;
  left: 0;
  background: red;
  transition: 0.5s;
}
